/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Reset Start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset End*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/*Start of nav styling*/

.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-top: 25px;
}

.container li {
    display: inline;
    padding: 10px 5px 0 5px;
}

.container input {
        width: 580px;
        height: 45px;
        padding: 0 20px 0 20px;
        border-radius: 25px;
        border: 1px solid lightgray;
        outline: none;
        font-size: 16px;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png), url(https://cdn1.iconfinder.com/data/icons/toolbar-signs/512/search-512.png);
        background-size: 2.4%, 2.5%;
        background-repeat: no-repeat, no-repeat;
        background-position: 545px 13px, 580px 15px;
        
}

.mh-right {
    margin-right: 20px;
}

.mh-left img {
    width: 91px;
    vertical-align: middle;
    margin-left: 30px;
    padding-right: 20px;
}

#nav {
    display: flex;
    padding: 10px 10px 10px 150px;
    font-size: 13px;
    border-bottom: 1px solid lightgray;
}


#nav ul {
    display: flex;
    flex-direction: row; 
}
 #nav li {
     padding: 10px;
 }

 #nav a {
    text-decoration: none;
    color: rgb(110, 110, 110);
 }

 #nav a:hover {
     color: #2891F4;
 }

main {
    display: flex;
    flex-direction: row; 
}

/*End of Nav Styles*/

.bold {
    font-weight: bold;
}

#wrapper-left {
    width: 35%;
    padding: 10px 10px 10px 150px
}

#wrapper-left a {
    font-size: 18px;
    text-decoration: none;
}

#wrapper-left a:hover {
    text-decoration: underline;
}

#search-number p {
    font-size: 14px;
    color: rgb(110, 110, 110);
    padding: 10px 5px 0px 160px;
}

#top-modules-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

#top-modules-left {
    padding: 15px 15px 15px 25px;
    width: 40%;
}

#top-modules-left p {
    font-size: 15px;
    color: rgb(110, 110, 110);
    padding: 5px 0 15px 0;
}

#top-modules-right {
    padding: 15px 15px 15px 25px;
    width: 40%;
}

#top-modules-right p {
    font-size: 14px;
    color: rgb(110, 110, 110);
    padding: 5px 0 20px 0;
}

#top-more-results a {
    font-size: 14px;
    padding-left: 40px;
}

#dropdown img {
    padding: 10px;
    position: relative;
    left: -20px;
}
.search-results {
    width: 90%;
    padding-top: 30px;;
}

.sr-link {
    font-size: 15px;
    padding: 5px 10px 5px 0;
    color: #00591E;
}

.sr-summary {
    font-size: 14px;
    padding: 5px 10px 5px 0;
    color: rgb(110, 110, 110);
}

#sr-extra {
    font-size: 14px; 
    color: rgb(110, 110, 110);
}

#videos-title {
    padding: 25px 20px 20px 20px;
    color: #210DAD;
}
#videos {
    width: 700px;
    display: flex;
    flex-direction: row;
}
.video-preview {
    width: 30%;
    display: inline-block;
    padding: 10px; 
}

.video-preview a {
    font-size: 16px; 
}

.video-preview p {
    color: rgb(110, 110, 110);
}

.channel-name {
    font-size: 14px;
}

.youtube {
    color: #00591E;
}

.youtube-small-text {
    font-size: 12px;
}

#other-searches-title {
    font-size: 18px;
    padding:30px 0 10px 20px;
    color: #222222;
}

#other-searches-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

#other-searches-container ul {
    text-decoration: none;
    padding: 15px;
    font-size: 10px;
}

#other-searches-container li {
    padding: 5px;
}

#other-searches-container a {
    font-size: 14px;
}

#page-numbers {
    padding: 10px 0px 5px 150px;
}
#top-footer {
    display: block;
    background: #F2F2F2;
    font-size: 15px;
    border-bottom: 1px solid lightgrey;
    width: 100%;   
    color: rgb(110, 110, 110);
}

#top-footer p {
    padding: 15px 20px 15px 170px;
}

#bottom-footer {
    display: block;
    background: #F2F2F2;
    color: rgb(110, 110, 110);
    font-size: 12px;
    width:100%;
}

#bottom-footer ul {
    display: flex; 
    flex-direction: row;
    padding: 15px 20px 15px 150px;

}

#bottom-footer li {
    padding: 5px 15px 0px 15px;
}

#bottom-footer a {
    color: rgb(110, 110, 110);
    text-decoration: none;
}

#wrapper-right {
    width: 23%; 
    height: 600px;
    background-color: blueviolet;
    border: solid 1px lightgrey;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}


